.skills {
  padding: 4rem;
  background: #1d809f;
}

.skills-heading {
  color: white;
}

.skills-container {
  display: flex;
  flex-flow: column;
  align-items: center;
  max-width: 1120px;
  width: 100%;
  margin: 0 auto;
}

.skills-heading {
  color: white;
  font-size: 2.5em;
}

.skills-wrapper {
  position: relative;
  margin: 50px 0 45px;
}

.skills-items {
  justify-content: space-between;
  align-items: center;
  position: relative;
}

.skill-image {
  width: 200px;
  height: 200px;
  border-radius: 50%;
  background-color: white;
  padding: 10px;
  border: 2px solid #6591996e;
  transition: transform 0.2s; /* Animation */
}

.skill-image:hover {
  transform: scale(1.1);
}

/* Hanlde Screen sizes */
@media only screen and (max-width: 700px) {
  .skill-image {
    width: 60px;
    height: 60px;
    border-radius: 50%;
    background-color: white;
    padding: 10px;
    border: 2px solid #6591996e;
    transition: transform 0.2s; /* Animation */
  }
}

@media only screen and (max-width: 500px) {
  .skill-image {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background-color: white;
    padding: 2px;
    border: 2px solid #6591996e;
    transition: transform 0.2s; /* Animation */
  }
}
